// app.rc  ─  Win32BassBooster resources
#include <windows.h>
#include <commctrl.h>

// Application manifest: DPI awareness + modern common controls
1 RT_MANIFEST
BEGIN
"<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>\r\n"
"<assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0"">\r\n"
"  <assemblyIdentity version=""1.0.0.0"" processorArchitecture=""*""\r\n"
"    name=""Win32BassBooster"" type=""win32""/>\r\n"
"  <description>Bass Booster</description>\r\n"
"  <dependency><dependentAssembly>\r\n"
"    <assemblyIdentity type=""win32"" name=""Microsoft.Windows.Common-Controls""\r\n"
"      version=""6.0.0.0"" processorArchitecture=""*"" publicKeyToken=""6595b64144ccf1df""\r\n"
"      language=""*""/>\r\n"
"  </dependentAssembly></dependency>\r\n"
"  <trustInfo xmlns=""urn:schemas-microsoft-com:asm.v3"">\r\n"
"    <security><requestedPrivileges><requestedExecutionLevel\r\n"
"      level=""asInvoker"" uiAccess=""false""/></requestedPrivileges></security>\r\n"
"  </trustInfo>\r\n"
"  <application xmlns=""urn:schemas-microsoft-com:asm.v3"">\r\n"
"    <windowsSettings>\r\n"
"      <dpiAwareness xmlns=""http://schemas.microsoft.com/SMI/2016/WindowsSettings"">PerMonitorV2</dpiAwareness>\r\n"
"    </windowsSettings>\r\n"
"  </application>\r\n"
"</assembly>\r\n"
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK  0x3fL
FILEFLAGS      0x0L
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription",  "Win32 Bass Booster"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "Win32BassBooster"
            VALUE "LegalCopyright",   "MIT"
            VALUE "OriginalFilename", "Win32BassBooster.exe"
            VALUE "ProductName",      "Win32 Bass Booster"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04b0
    END
END
